
.table{
    border: 1px solid #2c90d3;
  background-color: #dddbdb;
  width: 90%;
  text-align: left;
  border-collapse:collapse;
}
.table-data, .thead{
 border: 1px solid #AAAAAA;
  padding: 3px 2px;
}

.table-data{
    font-size: 17px;
}
.table tr:nth-child(even) {
    background: #D0E4F5;
  }
 .thead {
    font-size: 20px;
    background: #41a8ec;
    background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    border-bottom: 2px solid #444444;
  }
  #container{
      padding: 10px 20px;
      color: rgb(77, 71, 71);
      border: none;
      border-radius: 5px;
      cursor: pointer;
  }
  #save-button{
    padding: 10px 20px;
    color: rgb(53, 41, 41);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    

  }